{# src/Acme/TaskBundle/Resources/views/Default/new.html.twig #}

{{ form_start(form) }}


                                    <li>
                                        {{ form_row(form.name) }}
                                    </li>
                                
                              
                                    <li>
                                        {{ form_row(form.other) }}
                                    </li>
                                
{{ form_end(form) }}