<!DOCTYPE HTML>
<html>
    <head>
        <title>MDM Gestión de tareas</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon" />
        <script type="text/javascript" src="jquery-2.1.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#last").click(function() {
                    if ($("#divForm").is(":hidden")) {
                        $("#divForm").css("display", "inline-block");
                        $("#divForm").slideDown("slow");
                    }
                    else {
                        $("#divForm").slideUp("slow");
                    }
                });
            });
        </script>
    </head>

    <body>
        <div id="wrapper">
            <header>
                <div id="subheader"> 
                    <div id="image"></div>
                    <h1 id="signature">MDM Gestión de Tareas</h1><!--</div>-->
                </div>
                <nav>
                    <a href="index.html">Home</a>
                    <a href="perfil.html">Perfil</a>
                    <a href="registro.html">Registro</a>
                    <a id="last">Login</a>
                </nav>                
                <div id="divForm">
                    <form>
                        <ul>  
                            <li><label for="usermail">Email</label>  
                                <input type="email" name="usermail" value="" placeholder="yourname@email.com"/></li>  
                            <li><label for="password">Password</label>  
                                <input type="password" name="password" value="" placeholder="password"/></li>  
                            <li><input type="submit" value="Login"/></li>  
                        </ul>  
                    </form>
                </div>
            </header>

            <section id="tareas">

                <div id="divTareas">
                    <!--Aqui dentro irian las tareas con un for, cada una dentro 
                    de un div, que si no el CSS no funcionaria.
                    Dentro de cada div podriamos meter el nombre de la tarea,
                    el grupo y el campo otros.*/-->
                    <div id="tarea1">
                        <p>Tarea prueba 1</p>
                    </div>
                    <div id="tarea2">
                        <p>Tarea prueba 2</p>
                    </div>
                    <div id="tarea3">
                        <p>Tarea prueba 3</p>
                    </div>
                    <div id="tarea4">
                        <p>Tarea prueba 4</p>
                    </div>
                    <div id="tarea5">
                        <p>Tarea prueba 5</p>
                    </div>
                    <div id="tarea6">
                        <p>Tarea prueba 6</p>
                    </div>
                </div>

            </section>

            <footer>

                <div class="footerLinks"><a href="">Copyright 2014 by MDM</a></div>
            </footer>
        </div>   
    </body>
</html>
